@{
  Layout = "_Layout";
}

@using PierrsTreatFlavor.Models;
@model IEnumerable<TreatFlavor.Models.Flavor>

<h1>Flavors for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <h3><li>@Html.ActionLink($"{flavor.FlavorName}", "Read", new { readID = flavor.FlavorId })</li></h3>
    }
  </ul>
} 
else
{
  <h3>No flavors have been added yet!</h3>
}

<p>@Html.ActionLink("Add new flavor", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>