@{
  Layout = "_Layout";
}
<center>
 <h1>Welcome Pierr's Bakery</h1>
 <br>
 <br>
 <br>
 <hr/>
 <br>
<h3>@Html.ActionLink("See all Flavors", "Index", "Flavors")</h3>
<h3>@Html.ActionLink("See all Treats", "Index", "Treats")</h3>
<h3>@Html.ActionLink("Add new treat", "Create","Treats")</h3>
<h3>@Html.ActionLink("Add new flavor", "Create","Flavors")</h3>

</center>